<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Dylan0593"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/dylan-a-5683091a8/"><i class="fab fa-linkedin"></i></a>
    <a href="mailto:dakpan@gmail.com"><i class="fa-solid fa-envelope"></i></a>
  </div>
  <div class="footer-copyright">
   © 2025 Dylan Akpan. All rights reserved.
  </div>
</div>
