<%= render 'shared/navbar' %>

<div class="contrainer">


<h1>About me</h1>

<p>Hi! I'm Dylan, a curious and creative thinker who loves solving problems and learning new things. Whether it's through tech, art, or conversation, I enjoy connecting ideas and people. Always growing, always exploring.</p>


<%= image_tag "coding.png", alt: "Person coding" %>





</div>


<h1>My developer Toolkit</h1>

<%= render 'shared/footer' %>
