<%= render 'shared/navbar' %>



<h1>About me</h1>

<p>Hi! I'm Dylan, a curious and creative thinker who loves solving problems and learning new things. Whether it's through tech, art, or conversation, I enjoy connecting ideas and people. Always growing, always exploring.</p>





<%= render 'shared/footer' %>
