<%= render 'shared/navbar' %>


<%= image_tag "dylan.jpg", alt: "Dylan Akpan portrait", class: "dylan-icon" %>
<h1 class="name-intro">Hi, I'm Dylan</h1>
<h1 class="role-intro">Fullstack Developer from the UK</h1>
<h2 class="personal-profile-intro">I am a developer</h2>
