<%= render 'shared/navbar' %>

<div class="container">

  <%= image_tag "dylan.jpg", alt: "Dylan Akpan portrait", class: "dylan-icon" %>
  <h1 class="name-intro mt-4">Hi, I'm Dylan</h1>
  <h1 class="role-intro mt-4">Fullstack Developer from the UK</h1>
  <h4 class="personal-profile-intro mt-4">I'm a software developer with an engineering background and over 400 hours of hands-on experience in full-stack development. I've built projects using Ruby on Rails, JavaScript, OOP principles, databases, HTML, and CSS. I enjoy creating things that are both useful and well-crafted, and I love working with teams that value creativity and collaboration. I'm excited to keep growing, learning new tools, and making a real impact.</h4>

</div>

<%= render 'shared/footer' %>
