<%= render 'shared/navbar' %>

<h1 class="center"> My Projects</h1>

<div class="card-trip">
  <%= image_tag "21-days.png", alt: "21-days" %>
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
  </div>
</div>


<div class="card-trip">
  <%= image_tag "powershare.png", alt: "21-days" %>
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
  </div>
</div>


<%= render 'shared/footer' %>
